@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");
html,
body {
  background-color: #000;
  width: 100%;
  margin: 0;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.nav {
  padding: 0rem 10rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}
.banner {
  font-family: "Pacifico", cursive;
  padding: 3rem 0rem;
  padding-left: 10rem;
  /* margin: 0rem 3rem; */
  font-size: 2rem;
}
#logo,
#software-devel {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0rem 5rem;
  }
  .container {
    grid-template-columns: auto;
  }
  .banner {
    padding: 3rem 5rem;
  }
  #logo,
  #software-devel {
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .nav {
    padding: 0rem 2rem;
  }
  .banner {
    padding: 3rem 2rem;
  }
  .container {
    flex-direction: column;
  }
  #logo,
  #software-devel {
    width: 100%;
    height: 100%;
  }
}
